@charset "UTF-8";

@import "base";

body{
    width: 100%;
    max-width: $body-width-sp;
    margin: 0 auto;
    font-family: $base-font;
    @include calc-fontsize($base-fontsize, $body-width-sp);
    line-height : 1.5;
    color: $main-color;
    letter-spacing: 1px;
    @include tab{
        @include calc-fontsize($base-fontsize, $body-width);
        max-width: $body-width;
    }
    @include pc{
        font-size: $base-fontsize;
    }
}

a{
    color: $link-color;
    text-decoration: none;
    &:hover{
        filter: alpha(opacity=60);
        opacity: 0.6;
        text-decoration: none;
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
    }
    &:visited{
        text-decoration: none;
    }
    @include tab{
        &[href^="tel:"]{
            pointer-events: none;
            cursor: default;
            color:$link-color;
            text-decoration: none;
        }
    }
}

img{
    max-width: 100%;
    height: auto;
}

ul{
    list-style: none;
}

.visible-phone{
    display: inherit;
}
.hidden-phone{
    display: none;
}
@media screen and (min-width: $bp){
    .visible-phone{
        display: none;
    }
    .hidden-phone{
        display: inherit;
    }
}


address{
    font-size: 10px;
    text-align: center;
    font-style: normal;
}